
@{
    ViewData["Title"] = "Detail";
}

@model ProductDetailViewModel

<h1>Detail</h1>

<p>
   Ürün Adı: @Model.Name
</p>
<p>
    Kategorisi: @Model.CategoryName
</p>
<p>
    Fiyatı : @Model.Price
</p>
<p>
    Stoğu: @Model.Stock
</p>


