
@{
    ViewData["Title"] = "ListProduct";
}

@* küçük m ile başlayan model intellisense için var *@
@model ProductViewModel

<h1>ListProduct</h1>



<ul>
    @foreach (var item in Model.Products)
    {
     
        <li><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></li>
    }
</ul>
